<%= provide(:title, "Show Page")%>
<main role="main" class="container'">

    <div style="width:400px; height:auto">
        <%= image_tag(@pet.image, style:'width:100%') %>
    </div>

    <p>
        <%= link_to 'Back', pets_path%>
    </p>
    
</main>