<html>
<body>

<h2>Dog Care Tips</h2>

<dl>
    <dt>Health</dt>
    <dd>1. Visit the Vet at least once a year and stay up to date on all required shots.</dd>
    <dd>2. Keep track of and maintain proper dog weight.</dd>
    <dd>3. Bath,groom, and maintain nail length to ease walking and prevent injuries.</dd>
    <dd>4. Choose a warm place with a clean blanket for your dog to sleep at.</dd>
    <dd>5. Consider spraying/neutering pet if puppies are undesired.</dd>
    <dd>6. Check for and remove any fleas and ticks that appear,particularly in the summertime.</dd>

</dl>

</body>    
</html>
