<html>
<body>

<h2>Dog Etiquette Tips</h2>

<dl>
    <dt>When going out to a business</dt>
    <dd>1. Prevent begging and consider feeding dog first before going out to a restaurant with him/her.</dd>
    <dd>2. Teach basic commands: sit, stay, lie.</dd>
    <dd>3. Keep dog’s attention focused with toys/other to reduce dog movement or barking.</dd>
    <dd>4. Keep leashed and try to personally hold instead of furniture in case furniture isn’t stable enough.</dd>
    <dd>5. Keep dog washed before going out.</dd>
    <dd>6. Consider bringing a water bowl to keep dog hydrated</dd>

    <dt>When going for a walk</dt>
    <dd>1. Carry a bag for collecting dog poop.</dd>
    <dd>2. Bring water if it is a long walk (30 minutes or more).</dd>
    <dd>3. Have proper ID for your dog and consider getting a microchip in case they run off.</dd>
    <dd>4. Attempt to go when it is cooler in the day and avoid hot pavement.<dd>


</dl>

</body>    
</html>