
<body>

<h2>Dog Feeding Tips</h2>

<dl>
    <dt>Do</dt>
    <dd>1. Wash dog bowls regularly to prevent bacteria growth.</dd>
    <dd>2. Feed more protein rich foods with preference to fresher food when possible.</dd>
    <dd>3. Regularly keep water bowl filled with fresh water especially in hot climates.</dd>
    <dd>4. Attempt to feed your dog based off of weight and size.</dd>

    <dt>Don’t</dt>
    <dd>1. Overfeed your dog or puppy.</dd>
    <dd>2. Feed your dog: chocolate, onions/chives, garlic, peppers, salt, or sugar.</dd>

</dl>

</body>    

