<% provide(:title , 'Home')%>
    <main role="main" class="container">
 
    <div class="starter-template">
    <style>
    html body {background-image: url(image_path('pawprint.jpg'));}
    </style>
        <h1>Welcome to the beginning</h1>
    
   
 
    </div>
    </main><!-- /.container -->
