/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 * // = require_tree .
 * // = require_self
 */
//Custom bootstrap variables must be set or imported *before* bootstrap
@import "bootstrap";
@import "thredded";

$thredded-base-font-size: 1.6rem;
$thredded-font-size-small: 1.5rem;
$thredded-base-line-height: 1.5;
$thredded-heading-line-height: 1.5;
$thredded-button-font-size: 1.25rem;
@import "thredded/thredded";

.thredded--main-container {
  // The padding and max-width are handled by the app's container.
  max-width: none;
  padding: 0;
  @include thredded-media-tablet-and-up {
    padding: 0;
  }

  a, p, li {
    font-family: inherit;
    font-size: 1.5rem;
  }
}

.thredded--messageboard--title {
  font-size: 1.5rem;
}

%thredded--nav-tabs--item--badge {
  font-size: 1.5rem;
}

.thredded--navigation--search {
  input[type="search"] {
    @include thredded-media-desktop-and-up {
      min-width: 15rem;
      font-size: 1.2rem;
    }
  }
}

body {
    
    padding-top: 5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
bg{
    background-image: image-url('pawprint.jpg');
    background-size: 100%;   
}

div.field{
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

div.actions{
  padding-top: 1.5rem;
  padding-bottom: 0.5rem;
}


div.field label,
div.field input{
  display: block;
}

div.invalid-feedback{
  display: block;
}
